@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:wght@500&family=Poppins:wght@400;500&family=Work+Sans:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background font-content;
  }

  h1 {
    @apply text-3xl md:text-3xl lg:text-4xl xl:text-5xl font-heading font-bold;
  }

  h2 {
    @apply text-2xl md:text-2xl lg:text-3xl xl:text-4xl font-heading font-bold;
  }

  h3 {
    @apply text-xl md:text-xl lg:text-2xl xl:text-3xl font-heading font-bold;
  }

  span {
    @apply text-secondary;
  }
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: #f57a1c;
  border-radius: 1rem;
  background-clip: content-box;
}
